table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
  text-transform: uppercase;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
  text-decoration: none;
  float: right;
  margin: 5px;
}

.btn:hover {
  background-color: #f8d100;
  color: #000;
}

.conteudo {
  padding: 20px;
}
